/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
}

body{
  justify-content: center;
  font-family: saira, sans-serif;
  text-align:center;
}

h1{

}

ul{
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 10px;
  list-style-type: none;

}

li{
  font-family: sans-serif;
  padding: 8px;
  border-style: solid;
  border-width: thin;
  margin: 10px;
}
